@model IEnumerable<Worker>
@{
    ViewBag.Title = "Worker List";
    ViewBag.Breadcrumb = "Worker";
}

@section Javascript{
    <script src="@Url.Content("~/Scripts/organization.js?v=1.1")" type="text/javascript"></script>
}

<div class="row-fluid">

    <a href="#" id="btnAddNewWorker" class="btn btn-success">Add new Worker</a>

    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"><i class="icon-th"></i></span>
            <h5>Worker List</h5>
        </div>

        <div class="widget-content nopadding">
            <table class="table table-bordered table-striped data-table">
                <thead>
                    <tr>
                        <th style="width:110px;">#</th>
                        <th style="cursor: pointer;">Worker No.</th>
                        <th style="cursor: pointer;">Name</th>
                        <th style="cursor: pointer;">Skill</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="odd gradeX">
                            <td style="text-align:center;">
                                <a href="#" class="btnEditWorker" data-id="@item.Cus_worker">Edit</a>
                                &nbsp;|&nbsp;
                                <a href="#" class="btnDeleteWorker" data-id="@item.Cus_worker">Delete</a>
                            </td>
                            <td>@item.Cus_worker</td>
                            <td>@item.Cus_name</td>
                            <td>@item.Cus_skill</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<div id="modalWorkerForm" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">x</button>
        <h3>Worker Form</h3>
    </div>
    <div class="modal-body">
        <div class="widget-content nopadding" id="divWorkFormContainer">
            
        </div>
    </div>
</div>

